<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="test.spring.mvc.bean.Member_detailDTO" alias="member_detail"/>
		<typeAlias type="test.spring.mvc.bean.SaleDTO" alias="sale"/>
		<typeAlias type="test.spring.mvc.bean.AllcouponDTO" alias="allcoupon"/>
		<typeAlias type="test.spring.mvc.bean.ProductDTO" alias="product"/>
		<typeAlias type="test.spring.mvc.bean.ProductimgDTO" alias="pimg"/>
		<typeAlias type="test.spring.mvc.bean.ProductinfoDTO" alias="productinfo"/>
		<typeAlias type="test.spring.mvc.bean.CommercailDTO" alias="comm"/>
		<typeAlias type="test.spring.mvc.bean.DiscountDTO" alias="discount"/>
		<typeAlias type="test.spring.mvc.bean.CouponDTO" alias="usercoupon"/>
	</typeAliases>
</configuration>
