<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="test.spring.mvc.repository.AdminMapper">
	<select id="companycount" resultType="int">
		select count(*) from member_basic where status = 888 or status = 800
	</select> 
	<select id="companyList" resultType="test.spring.mvc.bean.Member_basicDTO">
		<!--  
		<![CDATA[ 
		select * from (select b.* , rownum r from
			    (select * from member_basic) b)
				where status = 888 or status = 800 and r >=1 and r <=10 order by reg desc;
		-->
			 
		select * from member_basic where status = 888 or status = 800 order by reg desc
	</select>
	<select id="companyBasic" resultType="test.spring.mvc.bean.Member_basicDTO">
		select * from member_basic where id=#{id}
	</select>
	<select id="companyDetail" resultType="test.spring.mvc.bean.Member_detailDTO">
		select * from member_detail where id=#{id}
	</select>
	
	<!--  
	<update id="companyStatus" parameterType="hashMap">
		<script>
        update member_basic set status=#{status} where id=#{id}
        insert into member_detail (companyid) values (#{companyid}) where id=#{id}
    	</script>
	</update>
	-->
	
	<update id="companyStatus" parameterType="String">
		update member_basic set status=#{status} where id=#{id}
	</update>	
	<select id="getLastCompanyId" parameterType="String">
	<![CDATA[
		select companyid from
		    (select companyid from member_detail where companyid is not null order by companyid desc)
		     		where rownum <=1
	]]>
	</select>
	<select id="getCompanyId" parameterType="String">
		select companyid from member_detail where id=#{id}
	</select>
		
	<update id="generateCompanyId" parameterType="String">
		update member_detail set companyid =#{companyid} where id=#{id}
	</update>
	
	<select id="allProductcount" resultType="int">
		select count(*) from all_product 
	</select>
	<select id="allProduct" resultType="test.spring.mvc.bean.ProductDTO">
		select * from all_product order by companyid asc
	</select>
	
	<select id="stocklesscount" resultType="int">
	<![CDATA[
		select count(*) from all_product where stock < #{stock}
	]]>
	</select>
	
	<select id="stockless" resultType="test.spring.mvc.bean.ProductDTO">
	<![CDATA[
		select * from all_product where stock < #{stock} order by companyid asc
	]]>
	</select>
	<select id ="getStock" resultType="int">
		select stock from all_product where product =#{product}
	</select>
	
	<select id="getCompanyid" resultType="String">
		select companyid from all_product where product=#{productname}
	</select>
	<select id="getCategory" resultType="String">
		select category from all_product where product=#{productname}
	</select>
	
	<select id="getCategory2" resultType="String">
		select category2 from all_product where product=#{productname}
	</select>
	
	<select id="getFlavor" resultType="String">
		select flavor from all_product where product=#{productname}
	</select>
	
	<select id="productcount" resultType="int">
		select count(*) from all_product where companyid = #{companyid}
	</select>
	<select id="productList" resultType="test.spring.mvc.bean.ProductDTO">
		select * from all_product where companyid = #{companyid} order by num asc
	</select>
	
	<select id="getCompanyName" resultType="String">
		select company from member_detail where companyid=#{companyid}
	</select>
	
	<select id="getProductName" parameterType="String" resultType="String">
        select product from all_product 
        	where companyid = #{companyid} and category = #{category} 
        		and category2 = #{category2} and flavor= #{flavor}
    </select>
    <select id="getProductId" resultType="String">
    	select companyid||category||category2||flavor from all_product where product=#{product}
    </select>

    <select id="getCompanyEmail" parameterType="String" resultType="String">
    	select mb.email from member_basic mb, member_detail md 
   			where mb.id = md.id and companyid= #{companyid}
    </select>
    
    <!-- 결제.. 주문번호 생성 및 DB삽입 -->
    <insert id="memberOrderDetail" parameterType="test.spring.mvc.bean.OrderdetailDTO">
    	INSERT INTO ${id}_orderdetail (
		    orderid, price, quantity, discount, purdate,
		    pay, purchase, productid, memberid
		) VALUES (
		    #{orderdetail.orderid}, #{orderdetail.price}, #{orderdetail.quantity}, #{orderdetail.discount}, #{orderdetail.purdate},
		    #{orderdetail.pay}, #{orderdetail.purchase}, #{orderdetail.productid}, #{orderdetail.memberid}
		)
	</insert>
	<select id="findOrderId" resultType="int">
		select count(*) from ${id}_orderdetail where orderid = #{orderid}
	</select>
	<select id="findproduct" resultType="String">
		select product from ${id}_cart where num =#{num}
	</select>
	<select id="findPrice" resultType="int">
		select price from all_product where companyid||category||category2||flavor=#{productid}
	</select>
	<select id="getUserDelivery9">
		select * from ${id}_delivery where defaultaddr=9
	</select>
</mapper>